<!DOCTYPE html>
<html>
 <head>
 	<link ref="stylesheet" href="about.css">
 </head>

 <body>
 	<div class= "jumbotron">
 	 <div class= "container">
 	   <h1>Find exactly what you're looking for.</h1>
 	   <p>Browse through scientific articles and blogs</p>
 	   </div>
 	  </div>
 	  <div class="categories">
 	  	<div class= "container">
 	  		<h2>Categories</h2>
 	  		<p>Here are some popular tldr articles and bogs</p>
 	  		<div class="row">
 	  			<div class ="col-md-4">
 	  			<div class ="thumbnail">
                    <img src = "http://goo.gl/CQNmq8"/>
                     </div>
                <div class ="thumbnail">
                    <img src = "http://goo.gl/C8Pd1K"/>
                    </div>
                </div>
                <div class = "col-md-4">
                <div class = "thumbnail">
                    <img src = "http://goo.gl/m1plqs"/>
                </div>
                <div class = "thumbnail">
                    <img src =  "http://goo.gl/7LJUjP"/>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="learn-more">
    	<div class="container">
    		<div class = "row">
    			<div class = "col-md-4">
    				<h3>Explore</h3>
    				<p>Peer-reviewed, scientific articles on a variety of subjects.</p>
    			</div>
    			<div class ="col-md-4">
    				<h3>Post</h3>
    				<p>Add your thougts to interesting scientific topics</p>
    			</div>
    		</div>
    			<div class ='row'>
    				<div class = "col-md-4">
    					<h3>Save Time</h3>
    					<p>Quickly read through several articles</p>
    				</div>
    				<div class ='col-md-4'>
    					<h3>Blog</h3>
    					<p>Share information about important scientific advances</p>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
</body>
</html>


	