<html>
 <head>

 </head>
 <body>


  <div class="green">
    <div style="float: left;">article</div>

    <div style="float: right">author &nbsp &nbsp &nbsp &nbsp edited time</div>


    <div style="clear: both;"></div>
  </div>

   test
 </body>
</html>
