<!DOCTYPE html>
<html>
  <head>
    <title>TDLR</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/custom.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
    <script src="/js/dependencies/aajquery-1.11.2.min.js"></script>
<style>
  .wrapper {padding: 0px;}
  .navigation {position:fixed;}
</style>
  </head>

  <body ng-app="app">

    <!-- top navigation -->
  <nav class="navbar navbar-default navbar-fixed-top" role="banner" style="background: #15a98c;">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
          <a href="/" class="navbar-brand" style="color: #fff;" onMouseOver="this.style.backgroundColor='#13967c'"
          onMouseOut="this.style.backgroundColor='#15a98c'"><b>tldr</b></a>
        </div>

        <nav class="collapse navbar-collapse" role="navigation">
          <ul class="nav navbar-nav">
            <li>
              <a href="#new" style="color: #fff;" onMouseOver="this.style.backgroundColor='#13967c'"
              onMouseOut="this.style.backgroundColor='#15a98c'">New</a>
            </li>
            <li>
              <a href="#hot" style="color: #fff;" onMouseOver="this.style.backgroundColor='#13967c'"
              onMouseOut="this.style.backgroundColor='#15a98c'">
              Trending</a>
            </li>
           
            <li>
              <a href="/bookmarks" style="color: #fff;" onMouseOver="this.style.backgroundColor='#13967c'"
              onMouseOut="this.style.backgroundColor='#15a98c'">Bookmarks</a>
            </li>
            <li>
              <a href="/blog" style="color: #fff;" onMouseOver="this.style.backgroundColor='#13967c'"
              onMouseOut="this.style.backgroundColor='#15a98c'">Blogs</a>
            </li>
            <li>
              <a href="/articles" style="color: #fff;" onMouseOver="this.style.backgroundColor='#13967c'"
              onMouseOut="this.style.backgroundColor='#15a98c'">Articles</a>
            </li>
          </ul>
          <ul class="nav navbar-nav pull-right">
            <li>
              <a href="/newArticle" style="color: #fff;" onMouseOver="this.style.backgroundColor='#13967c'"
              onMouseOut="this.style.backgroundColor='#15a98c'">Add Article</a>
            </li>
            <li>
              <a href="/newBlog" style="color: #fff;" onMouseOver="this.style.backgroundColor='#13967c'"
              onMouseOut="this.style.backgroundColor='#15a98c'">Add Blog</a>
            </li>
            
            <li>
              <a href="/about" style="color: #fff;" onMouseOver="this.style.backgroundColor='#13967c'"
              onMouseOut="this.style.backgroundColor='#15a98c'">About</a>
            </li>
            <li>
              <% if (req.session.user == null) { %>
                <a href="/login"><span class="btnS">Sign In</span></a>
              <% } else { %>
                <div class="mainmenu" id="mainmenu">
                  <div class="menu">
                    <div><%- req.session.user.email %></div>
                    <div class="popup">
                      <div ng-controller="loginController">
                        <a href="/logout">Logout</a>
                      </div>
                    </div>
                  </div>
                </div>
              <% } %>
            </li>
          </ul>
        </nav>
      </div>
    </nav>

    <div style="height: 50px"></div>



<!-- side navigation -->


  <div class="row">



      <div class="navigation col-md-3 left" style="height: 100%; padding: 0; margin: 0; background: #46c9af;"
      ng-controller="categoryController">
        <p>&nbsp;</p>
      <ul class="nav nav-stacked" id="sidebar" style="padding-left: 0.9em;">
        <div ng-controller="categoryController">

<div class="col-md-12">
  <div class ="thumbnail">
        <img src="http://goo.gl/W52Hzm"/>
      </div>
  <div class="panel panel-default">
    <div class="panel-body">
      <form>
        <div class="form-group">
          <label>Category Name</label>
          <input class="form-control" ng-model="categoryTitle"></input>
        </div>
        <div class="form-group">
          <button class="btn btn-default pull-right" ng-click="submit()">Submit</button>
        </div>
      </form>
      
    </div>
  </div>
  <br>
  <br>

  
</div>

</div>
      </ul>
    </div>
    </div>


    <div class="col-md-9 content" style="float: right;">
      <div style="height: 30px"></div>
      <div><%- body %></div>

    </div>

  </div>






    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/aajquery-1.11.2.min.js"></script>
    <script src="/js/dependencies/angular.min.js"></script>
    <script src="/js/dependencies/bootstrap.min.js"></script>
    <script src="/js/dependencies/general.js"></script>
    <script src="/js/dependencies/ui-bootstrap-tpls-0.12.1.min.js"></script>
    <script src="/js/articleController.js"></script>
    <script src="/js/categoryController.js"></script>
    <script src="/js/commentController.js"></script>
    <script src="/js/loginController.js"></script>
    <script src="/js/newArticleController.js"></script>
    <script src="/js/newBlogController.js"></script>
    <script src="/js/registerController.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
