<div ng-controller="newBlogController" ng-init="blogSources=[]">

    <h1>Submit a new blog post</h1>
    <hr>

    <div class="form-group">
      <label>Title</label>
      <input class="form-control" ng-model="title"></input>
    </div>

    
      

      <div class="row">
      <div class="col-md-6">
        <label>Current sources</label>
        <li ng-repeat="article in blogSources">
          {{ article.title }}
        </li>
      </div>
    <div>
    <div class="col-md-6">
        <label>Add articles from tldr</label>
        <input type="text" ng-model="article"
          placeholder="Articles loaded via $http"
          typeahead="article for article in searchArticles($viewValue)"
          typeahead-loading="loadingArticles"
          class="form-control">
        <br>
        <li ng-repeat="article in searchedArticles">
          <a ng-click="addBlogSource($index)">{{ article.title }}</a>
        </li>
        <br>
   
      </div>

    <div class="col-md-12">
      <div class="form-group">
        <label>Body</label>
        <textarea class="form-control" rows="4" ng-model="content"></textarea>
      <br>
      
      <button class="btnS btn-primary btn" ng-click="submit()">Submit</button>
    </div>
    </div>

</div>
