.btnS {
    border: solid 2px #fff;
    border-radius: 20px;
    font-size: 1em;
    background: 0 0;
    transition: all .3s ease-in-out;
    padding: 8px 25px;
    display: inline;
    text-align: top;
    color: #fff;
}

.btnS:hover,
.btnS:focus,
.btnS:active,
.btnS.active {
    border: solid 2px #fff;
    color: #fff;
    background: #46c9af;
}

.btn {
  border: solid 2px  #18bc9c;
  color:  #18bc9c;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active {
    border: solid 2px #0e705d;
    color: #0e705d;
    background: #EBFCF0;
}

.navbar-nav>li>a {
  background: #15a98c;
  color: #fff;
}

.navbar-nav>li>a:hover {
  background: #000;
}

.nav-stacked>li>a {
  color: #fff;
}

.nav-stacked>li:hover {
  background: #15a98c;
}

.nav-stacked>li>a:hover {
  background: #15a98c;
}

.side {
  padding-left: 2em;
}

<<<<<<< HEAD
.hotarticle{
  height:100%;
  background: red;
=======
div.mainmenu {
    z-index: 1;
}

div.menu {
    float: left;
    margin-top: 1em;
    color: #fff;
}

div.mainmenu:hover {
  background: #15a98c;
  color: #fff;
}


div.menu:hover div:first-child {
  border-bottom:
  none;
}

div.menu div.popup {
  display: none;
  position: absolute;
  z-index: 10;
  background: #d3d3d3;
  width: 100%;
  padding: 0.2em;
}

div.menu:hover div.popup {
    display: block;
}

div.popup div, div.popup a {
  display:block;
  text-decoration: none;
}

.mainmenu>div:hover {
  color: #BCEBE2;
>>>>>>> 5d2b56361ff40202fa4ff2db10a8f6c59f73b751
}
