.btn {
    border: solid 2px #fff;
    border-radius: 20px;
    font-size: 1em;
    background: 0 0;
    transition: all .3s ease-in-out;
    padding: 8px 25px;
    display: inline;
    text-align: top;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active {
    border: solid 2px #fff;
    color: #18bc9c;
    background: #fff;
}
